@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
* {
    margin: 0;
    padding: 0;
}
.bg-primary {
    background: none!important;
    padding-top: 15px;
}
/* header style */
.navTop {
    padding: 0 70px;
}
.pageHeader {
    width: 100%;
    background-image: url("../image/dbhome.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 664px;
}
.headContent {
    margin-top: 35px;
}

.doersbase-logo {
    width: 100%;
    min-height: 10%;
    margin-top: 5px;
}

.nav-bars {
    margin-top: 25px;
    display: none;
}

.desktop-logo-in-mobile {
    display: none;
}

.nav-bars:hover {
    cursor: pointer;
}

.doersbase-logo-mobile {
    max-width: 100%;
    max-height: 70%;
}

/* @media only screen and (max-width: 577px) {

    .nav-bars {
        margin-left: 33.33%;
        display: inline-block;
    }

    .doersbase-logo-mobile {
        max-width: 100%;
    }

    .left {
        width: 40%;
        margin-left: 0;
    }

    .right {
        width: 60%;
        height: 90%;
        margin-top: 12px;
    }
} */

.navigation-sidebar {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #222121 !important;
    z-index: 6;
    color: white;
}

.fa-window-close {
    position: absolute;
    right: 0;
}

.navigation-sidebar ul {
    list-style-type: none;
}

.navigation-sidebar ul li {
    border-bottom: solid 1px #7b7070;;
}

.navigation-sidebar ul li a, .navigation-sidebar ul li .btn-contact {
    padding: 15px 30px;
    display: inline-block;
    transition: color 0.4s;
    text-decoration: none;
    color: white;
}

.navigation-sidebar ul li .btn-contact {
    margin-left: 30px;
    display: inline-block;
}

.navigation-sidebar ul li a:hover, .navigation-sidebar ul li .btn-contact:hover {
    color: #ddd;
}

@media (min-width: 700px) and (max-width: 750px) {
    .doersbase-logo-in-desktop, .navigation-list-in-desktop {
        display: none;
    }

    .nav-bars, .desktop-logo-in-mobile {
        display: block;
    }
    .left {
        margin-left: -60px;
        font-size: 13px;
        margin-top: -5px;
        margin-bottom: -15px;
    }
}
@media (min-width: 600px) and (max-width: 699px) {
    .doersbase-logo-in-desktop, .navigation-list-in-desktop {
        display: none;
    }

    .nav-bars, .desktop-logo-in-mobile {
        display: block;
    }
    .left {
        margin-left: -60px;
        font-size: 13px;
        margin-top: -5px;
        margin-bottom: -15px;
    }
}
@media (min-width: 540px) and (max-width: 599px) {
    .doersbase-logo-in-desktop, .navigation-list-in-desktop {
        display: none;
    }

    .nav-bars, .desktop-logo-in-mobile {
        display: block;
    }
    .left {
        margin-left: -60px;
        font-size: 13px;
        margin-top: -5px;
        margin-bottom: -15px;
    }
}
@media (min-width: 481px) and (max-width: 539px) {
    .doersbase-logo-in-desktop, .navigation-list-in-desktop {
        display: none;
    }

    .nav-bars, .desktop-logo-in-mobile {
        display: block;
    }
    .left {
        margin-left: -60px;
        font-size: 13px;
        margin-top: -5px;
        margin-bottom: -15px;
    }
}
@media (min-width: 404px) and (max-width: 480px) {
    .doersbase-logo-in-desktop, .navigation-list-in-desktop {
        display: none;
    }

    .nav-bars, .desktop-logo-in-mobile {
        display: block;
    }
    .left {
        margin-left: -60px;
        font-size: 13px;
        margin-top: -5px;
        margin-bottom: -15px;
    }
}
@media (min-width: 375px) and (max-width: 405px) {
    .doersbase-logo-in-desktop, .navigation-list-in-desktop {
        display: none;
    }

    .nav-bars, .desktop-logo-in-mobile {
        display: block;
    }
    .left {
        margin-left: -60px;
        font-size: 13px;
        margin-top: -5px;
        margin-bottom: -15px;
    }
}
@media (min-width: 319px) and (max-width: 374px) {
    .doersbase-logo-in-desktop, .navigation-list-in-desktop {
        display: none;
    }

    .nav-bars, .desktop-logo-in-mobile {
        display: block;
    }
    .left {
        margin-left: -60px;
        font-size: 13px;
        margin-top: -5px;
        margin-bottom: -15px;
    }
}
@media (max-width: 320px) {
    .doersbase-logo-in-desktop, .navigation-list-in-desktop {
        display: none;
    }

    .nav-bars, .desktop-logo-in-mobile {
        display: block;
    }
    .left {
        margin-left: -60px;
        font-size: 13px;
        margin-top: -5px;
        margin-bottom: -15px;
    }
}
/* @media only screen and (max-width: 320px) {
    

    .right {
        margin-top: 35px;
    }

    .nav-bars {
        font-size: 20px;
    }
} */

@media (min-width: 1099px) and (max-width: 1365px) {
    .navigation-list {
        margin-top: 25px!important;
    }
}
@media (min-width: 901px) and (max-width: 1098px) {
    .navigation-list {
        font-size: 11px;
        margin-top: 15px!important;
    }
    .btn-contact {
        font-size: 12px;
    }
}
@media (min-width: 751px) and (max-width: 900px) {
    .navigation-list {
        font-size: 10px;
    }
    .btn-contact {
        font-size: 11px;
    }
    .navTop {
        padding: 0 30px;
    }
    .navigation-list {
        margin-top: 15px!important;
    }
}
#top {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
    z-index: 5;
}
#top img {
    width: 100%;
}



.navigation-list {
   color: white;
   list-style-type: none;
   margin: 0;
   padding: 0;
   margin-top: 30px;
   font-family: 'Roboto', sans-serif;
   position: absolute;
   right: 0;
}

.navigation-list li {
    display: inline;
    margin: 5px;
}

.navigation-list li a {
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: color 0.4s;
}

.navigation-list li a:hover {
    color: #ddd;
}

.about {
    width: 100%;
    color: white;
    margin-top: 30px;
}
.about .aboutBox button {
    border-radius: 0;
    background: transparent;
    color: white;
    border-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 7px 30px;
    transform: translate(0%, 0%);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
/* .about .aboutBox button:hover {
    color: black;
} */
.about .aboutBox button a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.about .aboutBox button:focus {
    display: none;
}
.about .aboutBox button a:hover {
    color: black;
}
.about .aboutBox button:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
.about .aboutBox button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: white;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.about .aboutBox h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 39px;
}
.about .aboutBox p {
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.pc-smartphone img {
    width: 100%;
}
a.desktop-logo-in-mobile {
    height: 75px;
    padding: 13px 0 0 30px!important;
}

/* media query header */
@media (min-width: 1024px) and (max-width: 1035px) {
    .about {
        margin-top: 30px;
    }
    .about .aboutBox h2 {
        font-size: 33px;
    }
    .pageHeader {
        height: 490px;
    }
}
@media (min-width: 945px) and (max-width: 1023px) {
    .pageHeader {
        height: 450px;
    }
}
@media (min-width: 824px) and (max-width: 944px){
    .pageHeader {
        height: 418px;
    }
    .about {
        margin-top: 3px;
    }
}
@media (min-width: 768px) and (max-width: 823px) {
    .about .aboutBox h2 {
        font-size: 24px;
    }
    .about {
        margin-top: 10px;
    }
    .pageHeader {
        height: 364px;
    }
}
@media (min-width: 700px) and (max-width: 767px) {
    .about {
        margin-top: 7px;
    }
    .about .aboutBox h2 {
        font-size: 32px;
    }
    .headContent {
        margin-top: 20px;
    }
    .pageHeader {
        height: 350px;
    }
}
@media ( min-width: 600px) and (max-width: 699px) {
    .about .aboutBox h2 {
        font-size: 24px;
    }
    .headContent {
        margin-top: 15px;
    }
    .pageHeader {
        height: 390px;
    }
}
@media (min-width: 576px) and (max-width: 599px) {
    .headContent {
        margin-top: 10px;
    }
    .about .aboutBox h2 {
        font-size: 23px;
    }
    .pageHeader {
        height: 390px;
    }
}
@media (min-width: 441px) and (max-width: 575px) {
    .headContent {
        margin-top: 10px;
    }
    .about {
        padding-left: 60px;
    }
    .about .aboutBox h2 {
        font-size: 30px;
    }
    .pageHeader {
        height: 570px;
    }
}
@media (min-width: 320px) and (max-width: 440px) {
    .headContent {
        margin-top: 10px;
    }
    .about {
        padding-left: 50px;
    }
}
@media (max-width: 319px) {
    .headContent {
        margin-top: 10px;
    }
    .about {
        padding-left: 40px;
    }
}








/* Our Expertise Style */
.blueBox {
    background: #6cb2b2;
    color: white;
}
.wsBox {
    background: whitesmoke;
}
.dragDown1 {
    margin-top: 100px;
}
.dragDown2 {
    margin-top: 100px;
}
.ourExpertise {
    margin-top: 80px;
    /* padding: 0 55px; */
    text-align: center;
}
.boxcss {
    width: 100%;
}
.box {
    height: 280px;
    width: 100%;
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 5px 18px -9px rgba(0,0,0,0.64);
}
.box:hover {
    box-shadow: 5px 6px 20px -8px rgba(0,0,0,0.64);
}
.box h5 {
    font-weight: 600;
    font-size: 15px;
}
.box p {
    font-size: 14px;
}
.iconBox {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
    margin-bottom: 14px;
}
.iconBox img {
    width: 100%;
}

/* expertise media */
@media (min-width: 992px) and (max-width: 1199px) {
    .box h5 {
        font-size: 12px;
    }
    .box p {
        font-size: 11px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .boxcss{
        flex-basis: 50%;
        max-width: 50%;
    }
}
@media (max-width: 767px) {
    .dragDown1 {
        margin-top: 30px;
    }
    .dragDown2 {
        margin-top: 30px;
    }
}



/* Development Methodologies */
.devMethod {
    margin-top: 220px;
}
.devImg {
    padding: 20px;
}
.devImg img {
    width: 100%;        
}
.devTxt {
    font-family: 'Roboto', sans-serif;
    padding: 55px;
}
.devTxt p {
    line-height: 2;
}
.devTxt button {
    border-radius: 0;
    background: transparent;
    color: black;
    border-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 7px 30px;
    transform: translate(0%, 0%);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.devTxt button:focus {
    display: none;
}
.devTxt button:hover {
    color: white;
}
.devTxt button:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
.devTxt button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: black;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}


/* Development Methodologies media */
@media (min-width: 992px) and (max-width: 1199px) {
    .devImg {
        padding: 0 0 0 3px;
    }
    .devTxt {
        padding: 2px 55px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .devMethod {
        margin-top: 200px;
    }
    .devImg {
        display: block;
        margin: auto;
    }
    .devTxt {
        padding: 0 55px;
    }
    .devTxt h2 {
        font-size: 2rem;
    }
    .devTxt p {
        font-size: 14px;
    }
}
@media (max-width:325px) {
    .devTxt h2 {
        font-size: 30px;
    }
    .devTxt p {
        font-size: 15px;
    }
}


/* client style */
.clientBox {
    margin-top: 150px;
}
.clientBox h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.client {
    margin: 0px 12px;
    flex-basis: 10%;
    /* flex: 1 0 auto; */
    min-width: 100px;
    text-align: center;
}
.client img {
    width: 100%;
}

/* products style */
.productPara {
    min-height: 250px;
    background: #00000042;
    margin-top: 90px;
    padding: 77px 0;
    margin-bottom: 200px;
}
.productPara h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 25px;
}
.productPara button {
    display: block;
    margin: auto;
    border-radius: 0;
    background: white;
    color: black;
    border-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 7px 30px;
    transform: translate(0%, 0%);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.productPara button:hover {
    background: white;
    color: black;
    border-color: white;
}
/* .productPara button:focus {
    display: none;
}
.productPara button:hover {
    color: black;
    border-color: white;
}
.productPara button:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
.productPara button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: white;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
} */

/* team style */
/* .officeTeam {
    margin-top: 190px;
} */
.teamHead h2 {
    margin-bottom: 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.teamBox {
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}
.teamBox:hover {
    box-shadow: 0 0 30px -10px rgba(0,0,0,0.64);
}
.teamImg {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    border: 4px solid #dcdbdb;
}
.teamImg:hover {
    border-color: #a29292;
}
.teamImg img {
    width: 100%;
}
.teamInfo {
    margin-top: 30px;
    height: 60px;
}
.teamInfo h6 {
    font-weight: 600;
    font-size: 15px;
}
.teamInfo p {
    font-weight: 300;
    font-size: 14px;
}
.teamDetails {
    margin-top: 25px;
    height: 200px;
}
.teamDetails p {
    font-weight: 300;
    font-size: 14px;
}
.teamSM {
    margin-top: 25px;
}
.teamSM a {
    letter-spacing: 10px;
    color: #74777b;
}
.teamSM a:hover {
    color: #3e80d7;
}
.navIntern {
    width: 140px;
    text-align: center;
}
.tab-content .tab-pane {    
    position: relative;
}
.mainTab {
    border: none;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #393535;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #393535;
    color: whitesmoke;
    border-radius: 5px;
}
#teamAuto {
    margin: auto;
}
div#myTabContent {
    margin-top: 50px;
}
.slick-next {
    background: gray!important;
    height: 35px!important;
    width: 33px!important;
}
.slick-prev {
    background: gray!important;
    height: 35px!important;
    width: 33px!important;
}
.teamBox:focus {
    outline: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .teamDetails {
        height: 235px;
    }
}
@media (min-width: 992px) and (max-width: 1023px) {
    .teamInfo h6 {
        font-size: 12px;
    }
    .teamInfo p {
        font-size: 12px;
    }
    .teamDetails p {
        font-size: 11px;
    }
    .teamSM {
        margin-top: 17px;
        font-size: 12px;
    }
    .slick-next {
        right: -10px!important;
    }
    .slick-prev {
        left: -10px!important;
    }
    .teamBox {
        padding: 35px;
    }
}
@media (min-width: 780px) and (max-width: 991px) {
    .teamInfo h6 {
        font-size: 12px;
    }
    .teamInfo p {
        font-size: 12px;
    }
    .teamDetails p {
        font-size: 11px;
    }
    .teamSM {
        margin-top: 17px;
        font-size: 12px;
    }
}
@media (min-width: 768px) and (max-width: 779px) {
    .slick-next {
        right: -15px!important;
    }
    .slick-prev {
        left: -15px!important;
    }
}
@media (min-width: 481px) and (max-width: 599px) {
    .teamInfo h6 {
        font-size: 12px;
    }
    .teamInfo p {
        font-size: 12px;
    }
    .teamDetails p {
        font-size: 11px;
    }
    .teamSM {
        margin-top: 17px;
        font-size: 12px;
    }
    .teamBox {
        padding: 55px;
    }
    .slick-next {
        right: 10px!important;
    }
    .slick-prev {
        left: 10px!important;
    }
}
@media (max-width: 480px) {
    .teamInfo h6 {
        font-size: 12px;
    }
    .teamInfo p {
        font-size: 12px;
    }
    .teamDetails p {
        font-size: 11px;
    }
    .teamSM {
        margin-top: 17px;
        font-size: 12px;
    }
    .teamBox {
        padding: 55px;
    }
    .slick-next {
        right: 10px!important;
    }
    .slick-prev {
        left: 10px!important;
    }
    .teamDetails {
        height: 120px;
    }
}



/* events style */
.events {
    margin-top: 200px;
}
/* .eventBox {
    height: 435px;

} */
.eventBox img {
    width: 100%;
}
/* .eventIntro {
    height: 110px;
    background: black;
    width: 90%;
    position: relative;
    bottom: 40px;
} */
.eventTxt {
    /* border: 1px solid black; */
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 55px;
}
.eventTxt h4 {
    text-transform: uppercase;
}
.eventTxt p {
    line-height: 2;
}
.eventTxt button {
    border-radius: 0;
    background: transparent;
    color: black;
    border-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 7px 30px;
    transform: translate(0%, 0%);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.eventTxt button:focus {
    display: none;
}
.eventTxt button:hover {
    color: white;
}
.eventTxt button:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
.eventTxt button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: black;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
    .eventTxt {
        padding: 30px;
    }
}
a.carousel-control-prev {
    background: black;
    width: 30px;
    height: 30px;
    margin: auto;
}
a.carousel-control-next {
    background: black;
    width: 30px;
    height: 30px;
    margin: auto;
}
.comingUp {
    height: 420px;
    padding: 55px;
}
.events h1 {
    text-align: center;
    margin-bottom: 75px;
}


/* blogstyle */
.blogs {
    margin-top: 200px;
}
@media (max-width: 767px) {
    .blogs {
        margin-top: 100px;
    }
}
/* .blogBox {
    
} */
.blogBox img {
    width: 100%;
}
.blogIntro {
    position: relative;
    height: 80px;
    background: rgba(0,0,0,0.5);
    bottom: 80px;
}
.blogIntro p {
    color: white;
    font-size: 20px;
    padding: 22px 30px;
}
.blogTxt {
    /* border: 1px solid black; */
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 55px;
}
.blogTxt p {
    line-height: 2;
}
.blogTxt button {
    border-radius: 0;
    background: transparent;
    color: black;
    border-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 7px 30px;
    transform: translate(0%, 0%);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.blogTxt button:focus {
    display: none;
}
.blogTxt button:hover {
    color: white;
}
.blogTxt button:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
.blogTxt button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: black;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}




/* footcontent style */
.contactRow {
    margin: 0;
    padding: 25px 0;
}
.contactCol1 {
    margin: auto;
}
.contactPara {
    min-height: 400px;
    background: #00000042;
    margin-top: 90px;
}
.contactUs h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-weight: 700;
}
.contactUs p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.subscribe {
    background: rgba(0,0,0,0.64);
    padding: 25px 0px;
    color: white;
}
@media (max-width: 767px) {
    .subscribe {
        margin-top: 30px;
    }
}
.subscribe input, textarea {
    display: block;
    background: rgba(255,255,255,0.4);
    margin: 20px auto;
    font-size: 14px;
    padding: 11px 18px;
    width: 80%;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: white;    
}
.subscribe textarea {
    height: 130px;
}

.subscribe input::placeholder {
    color: white;
}
.subscribe textarea::placeholder {
    color: white;
}
.subscribe input:focus {
    outline: none;
    color: white;
}
.subscribe textarea:focus {
    outline: none;
    color: white;
}
/* .subscribe textarea:focus, input:focus {
    color: #ff0000;
} */
.subscribe button {
    display: block;
    margin: auto;
    margin-top: 10px!important;
    border-radius: 0;
    background: #14d1b9;
    color: white;
    border-color: #14d1b9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 7px 30px;
    padding: 11px 18px;
    width: 260px;
}
.subscribe button:focus {
    outline: none;
}
.subscribe button:hover {
    color: white;
    border-color: #19baa6;
    background: #19baa6;
}
.subscribe button:active {
    outline: 0;
    color: white;
    background: #19baa6!important;
}
.openingHour {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    margin-top: 35px;
}
.map {
    margin-bottom: -6px;
}


/* opening hour */
#timeDiv {
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    max-width: 325px;
    background: white;
    width: 85%;
    margin: 0 auto;
    top: 50%;
    padding: 10px;
    /* border-radius: 3px; */
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
  }
  
  .open {
    color: #27ae60;
    /* border: 2px solid #27ae60; */
  }
  
  .closed {
    color: rgba(231, 76, 60, 0.85);
  }
  
  .viewOpen {
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgba(70, 70, 70, 0.7);
    max-width: 170px;
    background: #fff;
    width: 100%;
    color: rgba(70, 70, 70, 0.8);
    margin: 0 auto;
    top: 50%;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .dateTime {
      font-size: 14px;
    max-width: 320px;
    margin: 0 auto;
    color: #222121;
  }
  .modal-header h4 {
    color: #454545;
    font-size: 17px;
  }
.modal-content {
    border-radius: 0;
}
  .day {
    display: inline-block;
    float: left;
  }
  
  .time {
    display: inline-block;
    float: right;
  }
  
  .today {
    color: rgb(200, 85, 39);
    font-weight: 600;
  }
  .viewHours {
      margin-top: 15px;
  }
  .viewHours button {
    background: #14d1b9;
    border-color: #14d1b9;
    border-radius: 0;
    font-size: 16px;
}
.viewHours {
    margin-top: 15px;
}
.viewHours button:hover {
    background: #19baa6;
    border-color: #19baa6;
    border-radius: 0;
    font-size: 16px;
}
.viewHours button:active {
    outline: 0!important;
}
  /* .openingHour button {
    display: block;
    margin: auto;
    margin-top: 10px!important;
    border-radius: 0;
    background: #14d1b9;
    color: white;
    border-color: #14d1b9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 7px 30px;
    padding: 11px 18px;
    width: 260px;
  }
  .openingHour button:hover {
    color: white;
    border-color: #19baa6;
    background: #19baa6;
  } */

/* footer style */
.footer {
    height: 100%;
    background: black;
    color: white;
    margin-top: -21px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* .footLogo {
    padding-top: 10px;
    height: 55px;
    width: 180px;
    margin: auto;
}
.footLogo img {
    width: 100%;
} */
.follow {
    padding-top: 10px;
    display: block;
    text-align: center;
    margin-top: 15px!important;
}
.follow p {
    margin-bottom: 3px;
    font-size: 14px;
}
.follow a {
    letter-spacing: 5px;
    color: #74777b;
}
.follow a:hover {
    color: white;
}
.last p {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}